header {
    font-family:'Merriweather', serif;
    color:white;
    font-size: 35px;
    background-color: black;
    padding:10px;
    text-align: center;

}

h3 {
    font-family:'Merriweather', serif;
    font-size: 28px;
    color:brown;

}
.wrapper {
    display: flex;
    margin:20px;
    justify-content: space-around;
}

img {
    width:110px;
    height: 110px;
    border-radius: 50%;
    margin: 15px;

}

li {
    font-family:'Merriweather', serif;
    list-style-type: none;
    color: grey;
}

P {
    font-family:'Merriweather', serif;
    color: grey;
    border-left: 1px solid grey;
    border-spacing: 10px 50px;
    padding: 15px;
}

a {
    text-decoration: none;
}

footer {
    background-color: lightgrey;
    padding:30px;
}
